$screen-md:                  1px;
$screen-md-min:              $screen-md;
$screen-desktop:             $screen-md-min;

$screen-lg:                  9999px;
$screen-lg-min:              $screen-lg;
$screen-lg-desktop:          $screen-lg-min;

$main-color: #18B9E7;
$main-dark-color: darken($main-color, 10%);
$body-bg: #FFFFFF;
$btn-primary-bg: $main-dark-color;

$navbar-default-bg: #f8faf7;
$navbar-default-link-color: #555555;
$navbar-default-link-hover-color: #2e312c;
$navbar-default-link-active-color: #2e312c;
$navbar-default-link-hover-bg: darken($navbar-default-bg, 5%);

$btn-default-bg: #428bca;
$btn-default-color: #fff;

$btn-info-bg: #fff;
$btn-info-color: #333;

$bid-color: rgba(211, 84, 0,0.7);
$ask-color: rgba(39, 174, 96,0.7);
$state-warning-text: #CC0000;
