header: .container style="width: auto; max-width: 1150px; padding-left: 10px; padding-right: 10px; margin-top: -15px;"
  = render 'shared/pusher'
  nav#top-menu.navbar.navbar-default role="navigation" style="border-radius: 0px; height: 70px; border: 0px;"
    = render 'shared/menu'
