<tr>
  <td class="code" style="text-transform: uppercase;">{{code}}</td>
  <td class="currency">{{currency}}</td>
  <td class="available"><div style="width: 110px;text-align: right; margin-left: -39px;">{{format_fix_bid available}}</div></td>
  <td class="locked"><div style="width: 110px;text-align: right; margin-left: -39px;">{{format_fix_bid locked}}</div></td>
</tr>
